path:
  # If run_name is not provided, the training script will raise an error.
  # Please provide a run name in the config file.
  run_name: hsv-augmentation

  # Folder to save artifacts: checkpoints, tensorboard logs, example predictions, etc.
  artifacts_folder: artifacts

  # Path to the CSV file containing labels.
  csv:  D:/datasets/main.csv

dataset:
  image_path_col: image
  boxes_col: boxes
  key_points_col: key_points

training:
  resume_ckpt: null
  device: cuda:0
  seed: 2025
  batch_size: 32
  num_workers: 8
  pin_memory: true

  lr: 0.001
  momentum: 0.9
  weight_decay: 0.0005
  epochs: 640

  eval_interval: 1 # Perform mAP calculation and predictions logging every 1 epochs.

model:
  num_classes: 1
  num_keypoints: 5

train_transforms:
  transforms:
    - name: random_square_crop
      p: 1.0
      kwargs: {
        "crop_choice": [0.5, 0.7, 0.9, 1.1, 1.3, 1.5],
        "bbox_clip_border": true,
        "fill_value": 128,
        "max_retry": 250,
        scale_retry_limit: 10,
      }
    - name: resize
      p: 1.0
      kwargs: {
        target_size: [640, 640],
        interpolation: 1
      }
    - name: horizontal_flip
      p: 0.5
      kwargs: {}
    - name: augment_hsv
      p: 1.0
      kwargs: {
        hgain: 0.015,
        sgain: 0.7,
        vgain: 0.4,
      }
    - name: to_float32_tensor
      p: 1.0
      kwargs: {}

val_transforms:
  transforms:
    - name: letter_box
      p: 1.0
      kwargs: {}
    - name: resize
      p: 1.0
      kwargs: {
        target_size: [640, 640],
        interpolation: 1
      }
    - name: to_float32_tensor
      p: 1.0
      kwargs: {}