path:
  run_name: null
  base_dataset_folder: C:\Projects\yunet_pytorch\data\widerface\WIDER_train\WIDER_train\images
  artifacts_folder: artifacts
  csv: C:\Projects\yunet_pytorch\widerface_main_3.csv

dataset:
  image_path_col: image
  boxes_col: boxes
  key_points_col: key_points

training:
  device: cuda:0
  seed: 2025
  batch_size: 32
  num_workers: 6
  pin_memory: true

model:
  num_classes: 1
  num_keypoints: 5

train_transforms:
  transforms:
    - name: random_square_crop
      p: 1.0
      kwargs: {
        "crop_choice": [0.5, 0.7, 0.9, 1.1, 1.3, 1.5],
        "bbox_clip_border": true,
        "fill_value": 128,
        "max_retry": 250,
        scale_retry_limit: 10,
      }
    - name: resize
      p: 1.0
      kwargs: {
        target_size: [640, 640],
        interpolation: 1
      }
    - name: horizontal_flip
      p: 0.5
      kwargs: {}
    - name: to_float32_tensor
      p: 1.0
      kwargs: {}

val_transforms:
  transforms:
    - name: letter_box
      p: 1.0
      kwargs: {}
    - name: resize
      p: 1.0
      kwargs: {
        target_size: [640, 640],
        interpolation: 1
      }
    - name: to_float32_tensor
      p: 1.0
      kwargs: {}