--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
opencv-contrib-python-headless
numpy

jupyter
matplotlib
seaborn
pandas
pandas-stubs
names-generator==0.2.0
tensorboard==2.20.0
torchmetrics==1.8.2

onnx==1.20.0
onnxruntime==1.23.2
onnxscript==0.5.7

ruff==0.14.10